body {
    background-color: black;
}

h1, h2 {
    display: inline-block;
    font-family: 'Helvetica neue';
    margin: 0;
}

.bold-text {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Helvetica neue';
}

.normal-text {
    font-size: 14px;
    font-weight: normal;
}

/* Post */
.post {
    background-color: white;
    height: 500px;
    width: 400px
}

/* Post Header */
.post-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    vertical-align: middle;
}

.header-left {
    display: flex;
}

.header-logo {
    font-size: 30px;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    margin-left: .5rem;
    width: 50px;;
}

.icon {
    font-size: 25px;
}